        body {
            background-color: black;
        }
        
        .container {
            width: 50%;
            display: flex;
            background-color: rgb(27, 6, 100);
            margin: auto;
            margin-top: 15em;
            height: 40vh;
        }
        
        .heading {
            text-align: left;
            width: 100%;
            height: 100%;
            padding: 40px;
        }
        
        h1 {
            color: white;
            font-size: 45px;
            text-align: left;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .insight {
            color: purple;
        }
        
        p {
            color: white;
            text-align: left;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .imageContainer {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            width: 100%;
        }
        
        img {
            width: 110%;
            height: auto;
        }
        
        .footer {
            display: flex;
            justify-content: left;
            padding: 10px;
        }
        
        .middle {
            padding-right: 30px;
            padding-left: 30px;
        }
        
        .footerRating {
            color: gray;
        }